---
jobs:
  python:
    name: Python
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      # Checkout the repository
      # https://github.com/actions/checkout
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      # Set up Python
      # https://github.com/actions/setup-python
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14.2"
      # Check syntax
      - name: Check syntax
        run: |
          python3 -m py_compile main.py
      # Run Python unit tests
      - name: Run Python unit tests
        run: |
          pipx install uv
          uv run python3 -m unittest discover tests
name: Test
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
